
<div class="navbar-expand-lg" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    <li class="nav-item">
        <button class="btn form-control bg-info active text-light" id="home" onclick="loadTemplate('home','main' )">Home</button>
    </li>
    <li class="nav-item">
        <button class="btn form-control bg-info text-light" id="news">News</button>
    </li>
    <li class="nav-item">
        <button class="btn form-control bg-info text-light" id="contact">Contact</button>
    </li>
    <li class="nav-item">
        <button class="btn form-control bg-info text-light" id="about">About</button>
    </li>
    <form method="post" id="login_handler_navbar">
    </ul>
</div>
<div class="navbar-expand-lg">
    <ul class="navbar-nav" style="float: right;">
    {% csrf_token %}
    {% if user.is_authenticated %}
    <li class="nav-item">
        <button class="btn form-control bg-info text-light" id="profile">Profile</button>
    </li>
    <li class="nav-item">
        <button type="submit" class="btn form-control bg-info text-light" id="logout_button">Logout</button>
    </li>
    {% else %}
    <li class="nav-item">
        <button type="submit" class="btn form-control bg-info text-light" id="login_button">Login</button>
    </li>
    </ul>
    {% endif %}
    </form>
</div>
 